root = true

# =========================
# Global settings
# =========================
[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# =========================
# C# files
# =========================
[*.cs]
csharp_new_line_before_open_brace = all
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_prefer_braces = true:suggestion

dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true

# Naming
dotnet_naming_rule.interface_prefix.severity = suggestion
dotnet_naming_rule.interface_prefix.symbols = interfaces
dotnet_naming_rule.interface_prefix.style = prefix_i

dotnet_naming_symbols.interfaces.applicable_kinds = interface
dotnet_naming_symbols.interfaces.applicable_accessibilities = *
dotnet_naming_styles.prefix_i.required_prefix = I

# =========================
# Diagnostics
# =========================
dotnet_diagnostic.IDE0058.severity = suggestion
dotnet_diagnostic.IDE0060.severity = suggestion
